/* Colores */
:root {
    --bg-light: #ffffff;
    --text-light: #0A1F44;
    --bg-dark: #0A1F44;
    --text-dark: #ffffff;
}

/* Body y contenedor */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-light);
    color: var(--text-light);
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    background-color: var(--text-light);
    color: var(--bg-light);
    border: none;
    border-radius: 4px;
    transition: all 0.3s;
}

button:hover {
    opacity: 0.8;
}

/* Textarea */
textarea {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
    background-color: var(--bg-light);
    color: var(--text-light);
    transition: background-color 0.3s, color 0.3s;
}

/* Modo oscuro */
body.dark-mode {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

body.dark-mode textarea {
    background-color: #1B2A49;
    color: var(--text-dark);
}

body.dark-mode button {
    background-color: var(--text-dark);
    color: var(--bg-dark);
}
